<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>public.glyphOrder</key>
	<array>
		<string>space</string>
		<string>uni060C</string>
		<string>uni061B</string>
		<string>arAlef.isol</string>
		<string>arAlef.isol1</string>
		<string>arAlef.isol2</string>
		<string>arAlef.isol3</string>
		<string>arAlef.fina</string>
		<string>arBeh.isol</string>
		<string>arBeh.fina</string>
		<string>arBeh.init</string>
		<string>arBeh.medi</string>
		<string>arBeh.mediWide</string>
		<string>arHah.isol</string>
		<string>arHah.fina</string>
		<string>arHah.fina1</string>
		<string>arHah.medi</string>
		<string>arHah.medi1</string>
		<string>arHah.medi2</string>
		<string>arHah.init</string>
		<string>arHah.init2</string>
		<string>arBeh.initHah</string>
		<string>arLam.initHah</string>
		<string>arDal.isol</string>
		<string>arDal.fina</string>
		<string>arReh.isol</string>
		<string>arReh.fina</string>
		<string>arSeen.isol</string>
		<string>arSeen.fina</string>
		<string>arSeen.init</string>
		<string>arSeen.medi</string>
		<string>arSad.isol</string>
		<string>arSad.fina</string>
		<string>arSad.medi</string>
		<string>arSad.init</string>
		<string>arTah.isol</string>
		<string>arTah.fina</string>
		<string>arTah.medi</string>
		<string>arTah.init</string>
		<string>arAin.isol</string>
		<string>arAin.fina</string>
		<string>arAin.fina1</string>
		<string>arAin.medi</string>
		<string>arAin.medi1</string>
		<string>arAin.init</string>
		<string>arFeh.isol</string>
		<string>arFeh.fina</string>
		<string>arFeh.medi</string>
		<string>arFeh.init</string>
		<string>arQaf.isol</string>
		<string>arQaf.fina</string>
		<string>arKaf.isol</string>
		<string>arKaf.fina</string>
		<string>arKaf.fina1</string>
		<string>arKaf.medi</string>
		<string>arKaf.medi2</string>
		<string>arKaf.init</string>
		<string>arKaf.init1</string>
		<string>arLam.isol</string>
		<string>arLam.medi</string>
		<string>arLam.init</string>
		<string>arLam.fina</string>
		<string>arMeem.isol</string>
		<string>arMeem.isol1</string>
		<string>arMeem.isol2</string>
		<string>arMeem.fina</string>
		<string>arMeem.fina1</string>
		<string>arMeem.fina2</string>
		<string>arMeem.medi</string>
		<string>arMeem.medi1</string>
		<string>arMeem.init</string>
		<string>arNoon.isol</string>
		<string>arNoon.fina</string>
		<string>arHeh.isol</string>
		<string>arHeh.isol1</string>
		<string>arHeh.fina</string>
		<string>arHeh.fina1</string>
		<string>arHeh.medi</string>
		<string>arHeh.medi1</string>
		<string>arHeh.medi2</string>
		<string>arHeh.medi3</string>
		<string>arHeh.init</string>
		<string>arHeh.init1</string>
		<string>arHeh.init2</string>
		<string>arHeh.init3</string>
		<string>arWaw.isol</string>
		<string>arWaw.fina</string>
		<string>arWaw.fina1</string>
		<string>arLam.initAlef</string>
		<string>arAlef.finaLam</string>
		<string>arLam.mediAlef</string>
		<string>arAlef.fina1Lam</string>
		<string>arLam.init1Alef</string>
		<string>arYeh.isol</string>
		<string>arYeh.isol1</string>
		<string>arYehBarree.isol</string>
		<string>arYeh.fina</string>
		<string>arYeh.fina1</string>
		<string>arYehBarree.fina</string>
		<string>arHamzaAbove.mark</string>
		<string>ar1DotAbove.mark</string>
		<string>ar2DotAbove.mark</string>
		<string>arHamza.isol</string>
		<string>ar3DotAbove.mark</string>
		<string>ar3IDotAbove.mark</string>
		<string>ar1DotBelow.mark</string>
		<string>ar2DotBelow.mark</string>
		<string>ar3DotBelow.mark</string>
		<string>ar3IDotBelow.mark</string>
		<string>ar2VDotAbove.mark</string>
		<string>arHamzaBelow.mark</string>
		<string>arTah.mark</string>
		<string>arSad.mark</string>
		<string>arSharta.mark</string>
		<string>arMadda.mark</string>
		<string>uni0661</string>
		<string>uni0662</string>
		<string>uni0663</string>
		<string>uni0664</string>
		<string>uni0665</string>
		<string>uni0666</string>
		<string>uni0667</string>
		<string>uni0668</string>
		<string>uni0669</string>
		<string>uni0660</string>
		<string>uni064E</string>
		<string>uni064B</string>
		<string>uni064F</string>
		<string>uni064C</string>
		<string>uni0650</string>
		<string>uni064D</string>
		<string>uni0651</string>
		<string>uni0652</string>
		<string>uni06F0</string>
		<string>uni06F1</string>
		<string>uni06F2</string>
		<string>uni06F3</string>
		<string>uni06F4</string>
		<string>uni06F4.urd</string>
		<string>uni06F5</string>
		<string>uni06F6</string>
		<string>uni06F7</string>
		<string>uni06F7.urd</string>
		<string>uni06F8</string>
		<string>uni06F9</string>
		<string>uni0640</string>
	</array>
</dict>
</plist>
