(
space,
A,
Aacute,
Abreve,
Abreveacute,
Abrevedotbelow,
Abrevegrave,
Abrevehookabove,
Abrevetilde,
Acircumflex,
Acircumflexacute,
Acircumflexdotbelow,
Acircumflexgrave,
Acircumflexhookabove,
Acircumflextilde,
Adblgrave,
Adieresis,
Adotbelow,
Agrave,
Ahookabove,
Ainvertedbreve,
Amacron,
Aogonek,
Aring,
Aringacute,
Atilde,
AE,
AEacute,
B,
C,
Cacute,
Ccaron,
Ccedilla,
Ccircumflex,
Cdotaccent,
D,
Dcaron,
Dcroat,
Eth,
E,
Eacute,
Ebreve,
Ecaron,
Ecircumflex,
Ecircumflexacute,
Ecircumflexdotbelow,
Ecircumflexgrave,
Ecircumflexhookabove,
Ecircumflextilde,
Edblgrave,
Edieresis,
Edotaccent,
Edotbelow,
Egrave,
Ehookabove,
Einvertedbreve,
Emacron,
Eogonek,
Etilde,
Schwa,
F,
G,
Gbreve,
Gcaron,
Gcircumflex,
Gcommaaccent,
Gdotaccent,
H,
Hbar,
Hcircumflex,
I,
Iacute,
Ibreve,
Icircumflex,
Idblgrave,
Idieresis,
Idotaccent,
Idotbelow,
Igrave,
Ihookabove,
Iinvertedbreve,
Imacron,
Iogonek,
Itilde,
J,
Jcircumflex,
K,
Kcommaaccent,
L,
Lacute,
Lcaron,
Lcommaaccent,
Lslash,
M,
N,
Nacute,
Ncaron,
Ncommaaccent,
Nhookleft,
Ntilde,
Eng,
O,
Oacute,
Obreve,
Ocircumflex,
Ocircumflexacute,
Ocircumflexdotbelow,
Ocircumflexgrave,
Ocircumflexhookabove,
Ocircumflextilde,
Odblgrave,
Odieresis,
Odieresismacron,
Odotaccentmacron,
Odotbelow,
Ograve,
Ohookabove,
Ohorn,
Ohornacute,
Ohorndotbelow,
Ohorngrave,
Ohornhookabove,
Ohorntilde,
Ohungarumlaut,
Oinvertedbreve,
Omacron,
Oogonek,
Oslash,
Oslashacute,
Otilde,
Otildemacron,
OE,
P,
Thorn,
Q,
R,
Racute,
Rcaron,
Rcommaaccent,
Rdblgrave,
Rinvertedbreve,
S,
Sacute,
Scaron,
Scedilla,
Scircumflex,
Scommaaccent,
Germandbls,
T,
Tbar,
Tcaron,
Tcedilla,
Tcommaaccent,
U,
Uacute,
Ubreve,
Ucaron,
Ucircumflex,
Udblgrave,
Udieresis,
Udotbelow,
Ugrave,
Uhookabove,
Uhorn,
Uhornacute,
Uhorndotbelow,
Uhorngrave,
Uhornhookabove,
Uhorntilde,
Uhungarumlaut,
Uinvertedbreve,
Umacron,
Uogonek,
Uring,
Utilde,
V,
W,
Wacute,
Wcircumflex,
Wdieresis,
Wgrave,
X,
Y,
Yacute,
Ycircumflex,
Ydieresis,
Ydotbelow,
Ygrave,
Yhookabove,
Ymacron,
Ytilde,
Z,
Zacute,
Zcaron,
Zdotaccent,
a,
aacute,
abreve,
abreveacute,
abrevedotbelow,
abrevegrave,
abrevehookabove,
abrevetilde,
acircumflex,
acircumflexacute,
acircumflexdotbelow,
acircumflexgrave,
acircumflexhookabove,
acircumflextilde,
adblgrave,
adieresis,
adotbelow,
agrave,
ahookabove,
ainvertedbreve,
amacron,
aogonek,
aring,
aringacute,
atilde,
ae,
aeacute,
b,
c,
cacute,
ccaron,
ccedilla,
ccircumflex,
cdotaccent,
d,
dcaron,
dcroat,
eth,
e,
eacute,
ebreve,
ecaron,
ecircumflex,
ecircumflexacute,
ecircumflexdotbelow,
ecircumflexgrave,
ecircumflexhookabove,
ecircumflextilde,
edblgrave,
edieresis,
edotaccent,
edotbelow,
egrave,
ehookabove,
einvertedbreve,
emacron,
eogonek,
etilde,
schwa,
f,
g,
gbreve,
gcaron,
gcircumflex,
gcommaaccent,
gdotaccent,
h,
hbar,
hcircumflex,
i,
idotless,
iacute,
ibreve,
icircumflex,
idblgrave,
idieresis,
idotaccent,
idotbelow,
igrave,
ihookabove,
iinvertedbreve,
imacron,
iogonek,
itilde,
j,
jdotless,
jcircumflex,
k,
kcommaaccent,
kgreenlandic,
l,
lacute,
lcaron,
lcommaaccent,
lslash,
m,
n,
nacute,
ncaron,
ncommaaccent,
nhookleft,
ntilde,
eng,
o,
oacute,
obreve,
ocircumflex,
ocircumflexacute,
ocircumflexdotbelow,
ocircumflexgrave,
ocircumflexhookabove,
ocircumflextilde,
odblgrave,
odieresis,
odieresismacron,
odotaccentmacron,
odotbelow,
ograve,
ohookabove,
ohorn,
ohornacute,
ohorndotbelow,
ohorngrave,
ohornhookabove,
ohorntilde,
ohungarumlaut,
oinvertedbreve,
omacron,
oogonek,
oslash,
oslashacute,
otilde,
otildemacron,
oe,
p,
thorn,
q,
r,
racute,
rcaron,
rcommaaccent,
rdblgrave,
rinvertedbreve,
s,
sacute,
scaron,
scedilla,
scircumflex,
scommaaccent,
germandbls,
t,
tbar,
tcaron,
tcedilla,
tcommaaccent,
u,
uacute,
ubreve,
ucircumflex,
udblgrave,
udieresis,
udotbelow,
ugrave,
uhookabove,
uhorn,
uhornacute,
uhorndotbelow,
uhorngrave,
uhornhookabove,
uhorntilde,
uhungarumlaut,
uinvertedbreve,
umacron,
uogonek,
uring,
utilde,
v,
w,
wacute,
wcircumflex,
wdieresis,
wgrave,
x,
y,
yacute,
ycircumflex,
ydieresis,
ydotbelow,
ygrave,
yhookabove,
ymacron,
ytilde,
z,
zacute,
zcaron,
zdotaccent,
ordfeminine,
ordmasculine,
"hamza-ar",
"highhamza-ar",
"alef-ar.isol",
"alef-ar.isol.1",
"alef-ar.isol.2",
"alef-ar.isol.3",
"alef-ar.fina",
"alef-ar.fina.Lam",
"alef-ar.fina.Lam.1",
"behDotless-ar.isol",
"behDotless-ar.fina",
"behDotless-ar.medi",
"behDotless-ar.medi.high",
"behDotless-ar.medi.high.wide",
"behDotless-ar.medi.high.wider",
"behDotless-ar.medi.wide",
"behDotless-ar.medi.wider",
"behDotless-ar.init",
"behDotless-ar.init.Hah",
"behDotless-ar.init.wide",
"hah-ar.isol",
"hah-ar.isol.alt",
"hah-ar.fina",
"hah-ar.fina.1",
"hah-ar.fina.alt",
"hah-ar.fina.alt.1",
"hah-ar.medi",
"hah-ar.medi.1",
"hah-ar.medi.2",
"hah-ar.init",
"hah-ar.init.2",
"dal-ar.isol",
"dal-ar.fina",
"reh-ar.isol",
"reh-ar.fina",
"seen-ar.isol",
"seen-ar.fina",
"seen-ar.medi",
"seen-ar.init",
"sad-ar.isol",
"sad-ar.fina",
"sad-ar.medi",
"sad-ar.init",
"tah-ar.isol",
"tah-ar.fina",
"tah-ar.medi",
"tah-ar.init",
"ain-ar.isol",
"ain-ar.fina",
"ain-ar.fina.1",
"ain-ar.medi",
"ain-ar.medi.1",
"ain-ar.init",
"fehDotless-ar.isol",
"fehDotless-ar.fina",
"fehDotless-ar.medi",
"fehDotless-ar.init",
"qafDotless-ar.isol",
"qafDotless-ar.fina",
"kaf-ar.isol",
"kaf-ar.fina",
"kaf-ar.fina.1",
"kaf-ar.medi",
"kaf-ar.medi.1",
"kaf-ar.init",
"kaf-ar.init.1",
"lam-ar.isol",
"lam-ar.fina",
"lam-ar.medi",
"lam-ar.medi.Alef",
"lam-ar.init",
"lam-ar.init.Alef",
"lam-ar.init.Alef.1",
"lam-ar.init.Hah",
"meem-ar.isol",
"meem-ar.isol.1",
"meem-ar.isol.2",
"meem-ar.fina",
"meem-ar.fina.1",
"meem-ar.fina.2",
"meem-ar.medi",
"meem-ar.medi.1",
"meem-ar.init",
"noonghunna-ar.isol",
"noonghunna-ar.fina",
"heh-ar.isol2",
"heh-ar.isol",
"heh-ar.isol.1",
"heh-ar.fina",
"heh-ar.fina.1",
"heh-ar.medi",
"heh-ar.medi.1",
"heh-ar.medi.2",
"heh-ar.medi.3",
"heh-ar.init",
"heh-ar.init.1",
"heh-ar.init.2",
"heh-ar.init.3",
"hehDoachashmee-ar.isol",
"hehDoachashmee-ar.fina",
"waw-ar.isol",
"waw-ar.fina",
"waw-ar.fina.1",
"alefMaksura-ar.isol",
"alefMaksura-ar.isol.1",
"alefMaksura-ar.fina",
"alefMaksura-ar.fina.1",
"yehbarree-ar.isol",
"yehbarree-ar.fina",
"ae-ar.isol",
"kashida-ar",
"fullstop-ar",
"comma-ar",
"semicolon-ar",
"question-ar",
period,
comma,
colon,
semicolon,
ellipsis,
exclam,
exclamdown,
question,
questiondown,
periodcentered,
periodcentered.loclCAT,
periodcentered.loclCAT.case,
bullet,
asterisk,
numbersign,
slash,
backslash,
hyphen,
softhyphen,
endash,
emdash,
underscore,
parenleft,
parenright,
braceleft,
braceright,
bracketleft,
bracketright,
quotesinglbase,
quotedblbase,
quotedblleft,
quotedblright,
quoteleft,
quoteright,
guillemetleft,
guillemetright,
guilsinglleft,
guilsinglright,
quotedbl,
quotesingle,
florin,
at,
ampersand,
paragraph,
section,
copyright,
registered,
trademark,
degree,
bar,
brokenbar,
dagger,
daggerdbl,
numero,
cedi,
cent,
colonsign,
currency,
dollar,
dong,
euro,
franc,
guarani,
kip,
lira,
liraTurkish,
manat,
naira,
peseta,
peso,
ruble,
rupeeIndian,
sterling,
won,
yen,
bulletoperator,
divisionslash,
plus,
minus,
multiply,
divide,
equal,
notequal,
greater,
less,
greaterequal,
lessequal,
plusminus,
approxequal,
asciitilde,
logicalnot,
asciicircum,
Ohm,
micro,
percent,
perthousand,
dottedCircle,
"tahabove-ar",
"dotabove-ar",
"dotbelow-ar",
"dotcenter-ar",
"twodotsverticalabove-ar",
"twodotsverticalabove-ar.alt",
"twodotsverticalbelow-ar",
"twodotshorizontalabove-ar",
"twodotshorizontalbelow-ar",
"threedotsdownabove-ar",
"threedotsdownbelow-ar",
"threedotsupabove-ar",
"threedotsupbelow-ar",
"ringbelow-ar",
"wasla-ar",
"gafsarkashabove-ar",
"alefabove-ar",
"alefbelow-ar",
"hamzaabove-ar",
"hamzabelow-ar",
"fathatan-ar",
"dammatan-ar",
"kasratan-ar",
"fatha-ar",
"damma-ar",
"kasra-ar",
"shadda-ar",
"sukun-ar",
"madda-ar",
"vabove-ar",
"vbelow-ar",
"hahabove-ar",
dieresiscomb,
dieresiscomb.case,
dotaccentcomb,
dotaccentcomb.case,
gravecomb,
gravecomb.case,
acutecomb,
acutecomb.case,
hungarumlautcomb,
hungarumlautcomb.case,
circumflexcomb,
circumflexcomb.case,
caroncomb,
caroncomb.case,
brevecomb,
brevecomb.case,
ringcomb,
ringcomb.case,
tildecomb,
tildecomb.case,
macroncomb,
macroncomb.case,
hookabovecomb,
hookabovecomb.case,
dblgravecomb,
dblgravecomb.case,
breveinvertedcomb,
breveinvertedcomb.case,
commaturnedabovecomb,
horncomb,
horncomb.case,
dotbelowcomb,
dotbelowcomb.case,
dieresisbelowcomb,
dieresisbelowcomb.case,
commaaccentcomb,
commaaccentcomb.case,
cedillacomb,
cedillacomb.case,
ogonekcomb,
ogonekcomb.case,
brevebelowcomb,
brevebelowcomb.case,
macronbelowcomb,
macronbelowcomb.case,
strokeshortcomb,
dieresis,
dotaccent,
grave,
acute,
hungarumlaut,
circumflex,
firsttonechinese,
caron,
breve,
ring,
tilde,
macron,
cedilla,
ogonek,
apostrophemod,
"zero-ar",
"one-ar",
"two-ar",
"three-ar",
"four-ar",
"five-ar",
"six-ar",
"seven-ar",
"eight-ar",
"nine-ar",
"two-persian",
"four-persian",
"four-persian.urdu",
"six-persian",
"seven-persian",
"seven-persian.urdu",
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
zero.zero,
fraction,
onehalf,
onequarter,
threequarters,
onesuperior,
twosuperior,
threesuperior,
foursuperior,
"alef-ar",
"alefHamzaabove-ar",
"alefHamzabelow-ar",
"alefMadda-ar",
"alefWasla-ar",
"behDotless-ar",
"beh-ar",
"peh-ar",
"teh-ar",
"theh-ar",
"tteh-ar",
"tteheh-ar",
"jeem-ar",
"tcheh-ar",
"hah-ar",
"khah-ar",
"dal-ar",
"thal-ar",
"ddal-ar",
"dul-ar",
"reh-ar",
"zain-ar",
"rreh-ar",
"rehVbelow-ar",
"jeh-ar",
"seen-ar",
"sheen-ar",
"sad-ar",
"dad-ar",
"tah-ar",
"zah-ar",
"ain-ar",
"ainThreedots-ar",
"ghain-ar",
"feh-ar",
"veh-ar",
"fehDotless-ar",
"qafDotless-ar",
"qaf-ar",
"kaf-ar",
"keheh-ar",
"kehehDotabove-ar",
"gaf-ar",
"kafDotabove-ar",
"kafThreedotsbelow-ar",
"lam-ar",
"lamVabove-ar",
"meem-ar",
"noon-ar",
"noonghunna-ar",
"rnoon-ar",
"noonRing-ar",
"noonThreedotsabove-ar",
"heh-ar",
"hehHamzaabove-ar",
"hehgoal-ar",
"hehgoalHamzaabove-ar",
"hehDoachashmee-ar",
"tehMarbuta-ar",
"tehMarbutagoal-ar",
"waw-ar",
"wawTwodots-ar",
"wawDotabove-ar",
"wawHamzaabove-ar",
"oe-ar",
"ve-ar",
"alefMaksura-ar",
"yeh-ar",
"yehHamzaabove-ar",
"yehVabove-ar",
"yehFarsi-ar",
"e-ar",
"yehbarree-ar",
"yehbarreeHamzaabove-ar",
"ae-ar",
_ain.bowel,
_ain.head,
_ain.head.1,
_circle,
_hah.bowel,
_hah.bowel.alt,
_hah.head,
_hah.head.1,
_meem.circle,
_meem.circle.2,
_sad.body,
_seen.bowel,
_tail
)