(
space,
"hamza-ar",
"highhamza-ar",
"alef-ar",
"alef-ar.1",
"alef-ar.2",
"alef-ar.3",
"alef-ar.fina",
"alef-ar.fina.Lam",
"alef-ar.fina.Lam.1",
"behDotless-ar",
"behDotless-ar.fina",
"behDotless-ar.medi",
"behDotless-ar.medi.high",
"behDotless-ar.medi.high.wide",
"behDotless-ar.medi.high.wider",
"behDotless-ar.medi.wide",
"behDotless-ar.medi.wider",
"behDotless-ar.init",
"behDotless-ar.init.Hah",
"behDotless-ar.init.wide",
"hah-ar",
"hah-ar.alt",
"hah-ar.fina",
"hah-ar.fina.1",
"hah-ar.fina.alt",
"hah-ar.fina.alt.1",
"hah-ar.medi",
"hah-ar.medi.1",
"hah-ar.medi.2",
"hah-ar.init",
"hah-ar.init.2",
"dal-ar",
"dal-ar.fina",
"reh-ar",
"reh-ar.fina",
"seen-ar",
"seen-ar.fina",
"seen-ar.medi",
"seen-ar.init",
"sad-ar",
"sad-ar.fina",
"sad-ar.medi",
"sad-ar.init",
"tah-ar",
"tah-ar.fina",
"tah-ar.medi",
"tah-ar.init",
"ain-ar",
"ain-ar.fina",
"ain-ar.fina.1",
"ain-ar.medi",
"ain-ar.medi.1",
"ain-ar.init",
"fehDotless-ar",
"fehDotless-ar.fina",
"fehDotless-ar.medi",
"fehDotless-ar.init",
"qafDotless-ar",
"qafDotless-ar.fina",
"kaf-ar",
"kaf-ar.fina",
"kaf-ar.fina.1",
"kaf-ar.medi",
"kaf-ar.medi.1",
"kaf-ar.init",
"kaf-ar.init.1",
"lam-ar",
"lam-ar.fina",
"lam-ar.medi",
"lam-ar.medi.Alef",
"lam-ar.init",
"lam-ar.init.Alef",
"lam-ar.init.Alef.1",
"lam-ar.init.Hah",
"meem-ar",
"meem-ar.1",
"meem-ar.2",
"meem-ar.fina",
"meem-ar.fina.1",
"meem-ar.fina.2",
"meem-ar.medi",
"meem-ar.medi.1",
"meem-ar.init",
"noonghunna-ar",
"noonghunna-ar.fina",
"heh-ar",
"heh-ar.1",
"heh-ar.isol",
"heh-ar.fina",
"heh-ar.fina.1",
"heh-ar.medi",
"heh-ar.medi.1",
"heh-ar.medi.2",
"heh-ar.medi.3",
"heh-ar.init",
"heh-ar.init.1",
"heh-ar.init.2",
"heh-ar.init.3",
"hehDoachashmee-ar",
"hehDoachashmee-ar.fina",
"waw-ar",
"waw-ar.fina",
"waw-ar.fina.1",
"alefMaksura-ar",
"alefMaksura-ar.1",
"alefMaksura-ar.fina",
"alefMaksura-ar.fina.1",
"yehbarree-ar",
"yehbarree-ar.fina",
"ae-ar",
"kashida-ar",
"fullstop-ar",
"comma-ar",
"semicolon-ar",
"question-ar",
dottedCircle,
"tahabove-ar",
"dotabove-ar",
"dotbelow-ar",
"dotcenter-ar",
"twodotsverticalabove-ar",
"twodotsverticalabove-ar.alt",
"twodotsverticalbelow-ar",
"twodotshorizontalabove-ar",
"twodotshorizontalbelow-ar",
"threedotsdownabove-ar",
"threedotsdownbelow-ar",
"threedotsupabove-ar",
"threedotsupbelow-ar",
"ringbelow-ar",
"wasla-ar",
"gafsarkashabove-ar",
"alefabove-ar",
"alefbelow-ar",
"hamzaabove-ar",
"hamzabelow-ar",
"fathatan-ar",
"dammatan-ar",
"kasratan-ar",
"fatha-ar",
"damma-ar",
"kasra-ar",
"shadda-ar",
"sukun-ar",
"madda-ar",
"vabove-ar",
"vbelow-ar",
"hahabove-ar",
"zero-ar",
"one-ar",
"two-ar",
"three-ar",
"four-ar",
"five-ar",
"six-ar",
"seven-ar",
"eight-ar",
"nine-ar",
"two-persian",
"four-persian",
"four-persian.urdu",
"six-persian",
"seven-persian",
"seven-persian.urdu",
"alefHamzaabove-ar",
"alefHamzabelow-ar",
"alefMadda-ar",
"alefWasla-ar",
"beh-ar",
"peh-ar",
"teh-ar",
"theh-ar",
"tteh-ar",
"tteheh-ar",
"jeem-ar",
"tcheh-ar",
"khah-ar",
"thal-ar",
"ddal-ar",
"dul-ar",
"zain-ar",
"rreh-ar",
"rehVbelow-ar",
"jeh-ar",
"sheen-ar",
"dad-ar",
"zah-ar",
"ainThreedots-ar",
"ghain-ar",
"feh-ar",
"veh-ar",
"qaf-ar",
"keheh-ar",
"kehehDotabove-ar",
"gaf-ar",
"kafDotabove-ar",
"kafThreedotsbelow-ar",
"lamVabove-ar",
"noon-ar",
"rnoon-ar",
"noonRing-ar",
"noonThreedotsabove-ar",
"hehHamzaabove-ar",
"hehgoal-ar",
"hehgoalHamzaabove-ar",
"tehMarbuta-ar",
"tehMarbutagoal-ar",
"wawTwodots-ar",
"wawDotabove-ar",
"wawHamzaabove-ar",
"oe-ar",
"ve-ar",
"yeh-ar",
"yehHamzaabove-ar",
"yehVabove-ar",
"yehFarsi-ar",
"e-ar",
"yehbarreeHamzaabove-ar",
_ain.bowel,
_ain.head,
_ain.head.1,
_circle,
_hah.bowel,
_hah.bowel.alt,
_hah.head,
_hah.head.1,
_meem.circle,
_meem.circle.2,
_sad.body,
_seen.bowel,
_tail
)