<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>750</integer>
	<key>capHeight</key>
	<integer>725</integer>
	<key>copyright</key>
	<string>Copyright 2010 The Josefin Sans Project Authors (hi@typemade.mx), with Reserved Font Name "Josefin Sans".</string>
	<key>descender</key>
	<integer>-201</integer>
	<key>familyName</key>
	<string>Josefin Sans</string>
	<key>guidelines</key>
	<array/>
	<key>openTypeHeadCreated</key>
	<string>2016/08/26 16:01:20</string>
	<key>openTypeHheaAscender</key>
	<integer>750</integer>
	<key>openTypeHheaDescender</key>
	<integer>-250</integer>
	<key>openTypeHheaLineGap</key>
	<integer>0</integer>
	<key>openTypeNameDesigner</key>
	<string>Santiago Orozco</string>
	<key>openTypeNameDesignerURL</key>
	<string>http://www.typemade.mx</string>
	<key>openTypeNameLicense</key>
	<string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: http://scripts.sil.org/OFL</string>
	<key>openTypeNameLicenseURL</key>
	<string>http://scripts.sil.org/OFL</string>
	<key>openTypeNameManufacturer</key>
	<string>Typemade</string>
	<key>openTypeNameManufacturerURL</key>
	<string>http://www.typemade.mx</string>
	<key>openTypeOS2Selection</key>
	<array>
		<integer>7</integer>
	</array>
	<key>openTypeOS2Type</key>
	<array/>
	<key>openTypeOS2TypoAscender</key>
	<integer>750</integer>
	<key>openTypeOS2TypoDescender</key>
	<integer>-250</integer>
	<key>openTypeOS2TypoLineGap</key>
	<integer>0</integer>
	<key>openTypeOS2WeightClass</key>
	<integer>574</integer>
	<key>openTypeOS2WidthClass</key>
	<integer>5</integer>
	<key>openTypeOS2WinAscent</key>
	<integer>1258</integer>
	<key>openTypeOS2WinDescent</key>
	<integer>271</integer>
	<key>postscriptBlueValues</key>
	<array>
		<integer>-250</integer>
		<integer>-250</integer>
		<integer>-9</integer>
		<integer>0</integer>
		<integer>375</integer>
		<integer>383</integer>
		<integer>700</integer>
		<integer>732</integer>
	</array>
	<key>postscriptFamilyBlues</key>
	<array/>
	<key>postscriptFamilyOtherBlues</key>
	<array/>
	<key>postscriptOtherBlues</key>
	<array/>
	<key>postscriptStemSnapH</key>
	<array>
		<integer>84</integer>
		<integer>63</integer>
		<integer>242</integer>
	</array>
	<key>postscriptStemSnapV</key>
	<array>
		<integer>245</integer>
		<integer>84</integer>
		<integer>225</integer>
	</array>
	<key>postscriptUnderlinePosition</key>
	<integer>-100</integer>
	<key>postscriptUnderlineThickness</key>
	<integer>50</integer>
	<key>postscriptWeightName</key>
	<string>Semi-bold</string>
	<key>styleName</key>
	<string>Medium</string>
	<key>trademark</key>
	<string>Josefin Sans is a trademark of Typemade.</string>
	<key>unitsPerEm</key>
	<integer>1000</integer>
	<key>versionMajor</key>
	<integer>2</integer>
	<key>versionMinor</key>
	<integer>0</integer>
	<key>xHeight</key>
	<integer>418</integer>
</dict>
</plist>
