<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ar1DotAbove.mark</key>
	<string>ar1D_otA_bove.mark.glif</string>
	<key>ar1DotBelow.mark</key>
	<string>ar1D_otB_elow.mark.glif</string>
	<key>ar2DotAbove.mark</key>
	<string>ar2D_otA_bove.mark.glif</string>
	<key>ar2DotBelow.mark</key>
	<string>ar2D_otB_elow.mark.glif</string>
	<key>ar2HDotAbove.mark</key>
	<string>ar2H_D_otA_bove.mark.glif</string>
	<key>ar3DotAbove.mark</key>
	<string>ar3D_otA_bove.mark.glif</string>
	<key>ar3DotBelow.mark</key>
	<string>ar3D_otB_elow.mark.glif</string>
	<key>ar3IDotAbove.mark</key>
	<string>ar3I_D_otA_bove.mark.glif</string>
	<key>ar3IDotBelow.mark</key>
	<string>ar3I_D_otB_elow.mark.glif</string>
	<key>arAin.fina</key>
	<string>arA_in.fina.glif</string>
	<key>arAin.fina1</key>
	<string>arA_in.fina1.glif</string>
	<key>arAin.init</key>
	<string>arA_in.init.glif</string>
	<key>arAin.isol</key>
	<string>arA_in.isol.glif</string>
	<key>arAin.medi</key>
	<string>arA_in.medi.glif</string>
	<key>arAin.medi1</key>
	<string>arA_in.medi1.glif</string>
	<key>arAlef.fina</key>
	<string>arA_lef.fina.glif</string>
	<key>arAlef.fina1Lam</key>
	<string>arA_lef.fina1L_am.glif</string>
	<key>arAlef.finaLam</key>
	<string>arA_lef.finaL_am.glif</string>
	<key>arAlef.isol</key>
	<string>arA_lef.isol.glif</string>
	<key>arAlef.isol1</key>
	<string>arA_lef.isol1.glif</string>
	<key>arAlef.isol2</key>
	<string>arA_lef.isol2.glif</string>
	<key>arAlef.isol3</key>
	<string>arA_lef.isol3.glif</string>
	<key>arBeh.fina</key>
	<string>arB_eh.fina.glif</string>
	<key>arBeh.init</key>
	<string>arB_eh.init.glif</string>
	<key>arBeh.initHah</key>
	<string>arB_eh.initH_ah.glif</string>
	<key>arBeh.isol</key>
	<string>arB_eh.isol.glif</string>
	<key>arBeh.medi</key>
	<string>arB_eh.medi.glif</string>
	<key>arDal.fina</key>
	<string>arD_al.fina.glif</string>
	<key>arDal.isol</key>
	<string>arD_al.isol.glif</string>
	<key>arFeh.fina</key>
	<string>arF_eh.fina.glif</string>
	<key>arFeh.init</key>
	<string>arF_eh.init.glif</string>
	<key>arFeh.isol</key>
	<string>arF_eh.isol.glif</string>
	<key>arFeh.medi</key>
	<string>arF_eh.medi.glif</string>
	<key>arHah.fina</key>
	<string>arH_ah.fina.glif</string>
	<key>arHah.fina1</key>
	<string>arH_ah.fina1.glif</string>
	<key>arHah.init</key>
	<string>arH_ah.init.glif</string>
	<key>arHah.isol</key>
	<string>arH_ah.isol.glif</string>
	<key>arHah.medi</key>
	<string>arH_ah.medi.glif</string>
	<key>arHah.medi1</key>
	<string>arH_ah.medi1.glif</string>
	<key>arHamzaAbove.mark</key>
	<string>arH_amzaA_bove.mark.glif</string>
	<key>arHamzaBelow.mark</key>
	<string>arH_amzaB_elow.mark.glif</string>
	<key>arHeh.fina</key>
	<string>arH_eh.fina.glif</string>
	<key>arHeh.fina1</key>
	<string>arH_eh.fina1.glif</string>
	<key>arHeh.isol</key>
	<string>arH_eh.isol.glif</string>
	<key>arHeh.isol1</key>
	<string>arH_eh.isol1.glif</string>
	<key>arKaf.fina1</key>
	<string>arK_af.fina1.glif</string>
	<key>arKaf.init1</key>
	<string>arK_af.init1.glif</string>
	<key>arKaf.isol</key>
	<string>arK_af.isol.glif</string>
	<key>arKaf.medi1</key>
	<string>arK_af.medi1.glif</string>
	<key>arMadda.mark</key>
	<string>arM_adda.mark.glif</string>
	<key>arNoon.fina</key>
	<string>arN_oon.fina.glif</string>
	<key>arNoon.isol</key>
	<string>arN_oon.isol.glif</string>
	<key>arQaf.fina</key>
	<string>arQ_af.fina.glif</string>
	<key>arQaf.isol</key>
	<string>arQ_af.isol.glif</string>
	<key>arReh.fina</key>
	<string>arR_eh.fina.glif</string>
	<key>arReh.isol</key>
	<string>arR_eh.isol.glif</string>
	<key>arSad.fina</key>
	<string>arS_ad.fina.glif</string>
	<key>arSad.init</key>
	<string>arS_ad.init.glif</string>
	<key>arSad.isol</key>
	<string>arS_ad.isol.glif</string>
	<key>arSad.mark</key>
	<string>arS_ad.mark.glif</string>
	<key>arSad.medi</key>
	<string>arS_ad.medi.glif</string>
	<key>arSeen.fina</key>
	<string>arS_een.fina.glif</string>
	<key>arSeen.init</key>
	<string>arS_een.init.glif</string>
	<key>arSeen.isol</key>
	<string>arS_een.isol.glif</string>
	<key>arSeen.medi</key>
	<string>arS_een.medi.glif</string>
	<key>arSharta.mark</key>
	<string>arS_harta.mark.glif</string>
	<key>arTah.fina</key>
	<string>arT_ah.fina.glif</string>
	<key>arTah.init</key>
	<string>arT_ah.init.glif</string>
	<key>arTah.isol</key>
	<string>arT_ah.isol.glif</string>
	<key>arTah.mark</key>
	<string>arT_ah.mark.glif</string>
	<key>arTah.medi</key>
	<string>arT_ah.medi.glif</string>
	<key>arWaw.fina</key>
	<string>arW_aw.fina.glif</string>
	<key>arWaw.fina1</key>
	<string>arW_aw.fina1.glif</string>
	<key>arWaw.isol</key>
	<string>arW_aw.isol.glif</string>
	<key>arYeh.fina</key>
	<string>arY_eh.fina.glif</string>
	<key>arYeh.fina1</key>
	<string>arY_eh.fina1.glif</string>
	<key>arYeh.isol</key>
	<string>arY_eh.isol.glif</string>
	<key>arYeh.isol1</key>
	<string>arY_eh.isol1.glif</string>
</dict>
</plist>
